datajoint==0.12.9
scipy==1.7.1	# build issue - see statsmodels
globus-sdk
tifffile
pandas
seaborn==0.11.0		# build issue - see matplotlib
matplotlib #==3.1.3   # build issue - details unclear; to be revisited
pillow
tqdm
xlrd
numpy
pybpod-gui-api
pynrrd
openpyxl
statsmodels==0.12.2	# oralfacial_analysis.GLMFit error
astropy
statannot
h5py==3.3.0
pynwb==2.0.1
spikeinterface
nwb-conversion-tools
