datajoint==0.12.9
scipy
h5py
globus-sdk
tifffile
pandas
seaborn==0.11.0		# build issue - see matplotlib
matplotlib==3.1.3	# build issue - details unclear; to be revisited
pillow
tqdm
xlrd
numpy
pybpod-gui-api
pynrrd
openpyxl
statsmodels
astropy